h1{
  text-align: center;
}

img {
  border: 5px solid black;
  margin: 15px;
  margin-bottom: 0px;
  border-radius: 5px
}

.flex-container {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 15%;
  margin-bottom:250px;
}

.container{
  position: relative;
}

.image-container{
  position: : relative;
}

div.centerText {
  position: absolute;
  bottom: 5px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background color to improve readability */
  color: white; /* Optional: Text color */
  padding: 10px; /* Optional: Add some padding for better aesthetics */
  text-align: center;
  width: 50%;
  margin: auto;
}

.boxEgyseg {
  margin: auto;
  margin-top: 0px;
  width: 200px;
  height: 200px;
  text-align: center;
  align-content: start;
}
.boxHead
{
  text-align: end;
}
.boxText {
  margin: auto;
  width: 200px;
  height: 200px;
  text-align: center;
  align-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

body{
  background-color: rgb(125,141, 149);
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color: rgb(244, 154, 58);
}
.gridImage {
  width:125px;
  height: 125px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0px;
  margin: 0px;
}

.gridImage:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
